<!--
<div class="tabs clearfix">
    <div class="tabsLeft">
        <ul>
            <li><a href="#" class="active">Article</a></li>
            <li><a href="#">Talk</a></li>
        </ul>
    </div>
    <div id="simpleSearch">
        <input type="text" name="searchInput" id="searchInput" placeholder="Search Wikipedia" size="12" />
        <div id="submitSearch"></div>
    </div>
    <div class="tabsRight">
        <ul>
            <li><a href="#" class="active">Read</a></li>
            <li><a href="#">View source</a></li>
            <li><a href="#">View history</a></li>
        </ul>
    </div>

</div>
-->
<div class="article">
    <h2>Axe</h2>
    <a class="roleNote" href="/scavengers-wiki/weapons/index.html">Return to Weapons List.</a>
    <p>
        1 Handed
    </p>
    <h3>Stance Bonuses</h3>
    <p>
        <strong>High:</strong> +1 HR<br>
        <strong>Mid:</strong> +1 Defense and Resist<br>
        <strong>Low:</strong> +1 Speed<br>
    </p>
    <table>
<tr>
<th>Name</th>
<th>Cost</th>
<th>Starting Stance</th>
<th>Ending Stance</th>
<th>Damage</th>
<th>Extra Effects</th>
</tr>
<tr>
<td>Tendon Cut</td>
<td>2 actions</td>
<td>Low</td>
<td>Mid</td>
<td>1d1</td>
<td>Slow(1).</td>
</tr>
    </table>

</div>


